{% extends "layout.html" %}

{% block title %}   
    Admin
{% endblock %}

{% block main %}
    <h1>Admin Login</h1>
    <form action="/admin" method="post">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password"><br>
            </div>
        </div>
        <div class="row">
            <div class="col" style="display: flex; justify-content: center;">
                <input type="submit" class="btn btn-info">
            </div>
        </div>
    </form>
{% endblock %}
