{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Dr.Drake Ramoray's System</h1><br>
<iframe src='https://gfycat.com/ifr/MellowMatureCornsnake' frameborder='0' scrolling='no' allowfullscreen width='640' height='402'></iframe><p> <a href="https://gfycat.com/mellowmaturecornsnake-matt-leblanc">via Gfycat</a></p>
<div class="btn-group cover" role="group" aria-label="Basic outlined example">
    <h2 style=" display: inline-block;text-align: left; width: 300px;">Login Options: </h2>
    <a href="/patient"><button type="button" class="btn btn-outline-primary white">Patient</button></a>
    <a href="/doctor"><button type="button" class="btn btn-outline-primary white">Doctor</button></a>
    <a href="/admin"><button type="button" class="btn btn-outline-primary white">Admin</button></a>
</div>
{% endblock %}
